# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Simulator output
*.vcd
*.fst
*.vvp

# Vivado
build/
.Xil/
*.jou
*.log
*.str
*.pb
*.wdf
*.dir/
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
webtalk.jou
webtalk.log
webtalk_pn.xml
a.out
